@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px 50px;
}
/* Top Header Section  */
.first{
    background-color: white;
    /* border: 3px solid black; */
}
.top-bar{
    height: 30px;
    background-color: #ddd;
}
.logo{
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0;
}
.container{
    padding: 11px 20px;
    margin: 0;
    border-bottom: 5px solid #992C2C;
    border-top: 5px solid #992C2C;
}
.institute_title {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.institute_title2{
    font-size: 17px; 
}
.row {
    display: flex;
    justify-content: space-around;
}
.email{
    padding: 20px;
}
/* header section end  */

/* Navbar Start */
.menu {
  list-style-type: none;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  margin-top: 2px;
  margin-bottom: 2px;
  /* border-bottom:5px solid #992C2C; */
}

.menu li {
  position: relative;
  font-size: 16px;
  /* border: 2px solid black; */
  padding:  0px 15px;
  margin: 0px;
  font-weight: 600;
}

.menu li a {
  display: inline-block;
  padding: 10px 20px;
  color: rgb(15, 9, 9);
  letter-spacing: 1px;
}

.menu li:hover:not(:last-child) {
  background-color: #ddd;
  border-bottom: 2px solid #992C2C;
}
.menu ul.dropdown {
  display: none;
  position: absolute;
  left: 0px;
  width: 400px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  transition: all .3s;
  background-color: white;
  z-index: 1;
}

.menu li:hover ul.dropdown {
  display: block;
}

.dropdown{
    letter-spacing: 0px;

}
.rmpi{
    border:3px solid black;
    border-radius: 25px;
    background-color: #ddd;

}
.menu li .rmpi:hover{
    background-color: #992C2C;
    color: #ddd; 
     transition: all .5s;
}
/* Navbar End */





.main-info{
  display: flex;
  margin-top: 30px;
  /* border: 3px solid #992C2C; */
}

.info-section {
  flex: 1;
  margin-right: 20px;
}

h1 {
  color: #333;
  margin: auto;
  text-align: center;
  color: #992C2C;
  margin-top: 50px;
  letter-spacing: 2px;
  font-size: 45px;
  /* border-bottom:5px solid #992C2C; */

}

h3 {
  padding-top: 15px;
  /* border: 3px solid#992C2C; */
  padding-bottom: 15px;
  font-size: 20px;
}
.p-info{
  text-align: justify;
  font-size: 18px;
}
.ul-info {
  list-style-type: none;
  padding-left: 50px;
}

.li-info {
  list-style-type: circle;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;

}
.info-image {
  flex: 1.1;
}

.info-image img {
  width: 100%;
  height: auto;
  border-radius:20px;
  border:2px solid #992C2C;
}


.table-info{
  margin-top: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid  #992C2C;
  font-size: 18px;
  
}

th {
  background-color:  #992C2C;
  color: #ddd;
}









  /*last footer section start  */
  .end{
    position: relative;
    top: 430px;
    background-color: #992C2C;
    color: white;
    font-size: 13px;
    padding-top:10px ;
    padding-bottom:10px ;
    text-align: center;
  }

  /*last footer section end  */

