@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Roboto',sans-serif;
}

#hero {
    width: 100%;
    height: 800px;
    background: url(../img/cube.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px 32px;
}

.logo {
    color:#FFE262 ;
    font-family: 'Aladin';
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 20px;
}

.navbar .menu {
    margin-right: 10%;
}

.navbar .menu a:not(:last-child){
    color: rgb(189, 66, 66);
    margin: 10px;
    transition-duration: 0.5s;
}

.navbar .menu a:not(:last-child):hover {
    border-bottom: 2px solid rgb(172, 62, 62);
    padding: 10px;
}

.navbar .menu .sign {
    padding: 10px 15px;
    color: #0C254E;
    background:#FFE262;
    border-radius: 15px;
}

.navbar .menu .sign:hover {
    background: #dfb90f;
}

.hero-box {
    margin-top: 100px;
    margin-left: 20%;
    color: rgb(99, 42, 42);
    width: 40%;
}

.hero-title {
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
}

.hero-des {
    font-family: 'Roboto',sans-serif;
    line-height: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}

.btn-box  .hero-btn{
    background: #FFE262;
    padding: 17px;
    border-radius: 25px;
    color: #0C254E;
    font-size: 20px ;
    transition-duration: 0.4s;
}

.btn-box  .hero-btn:hover {
    background: #0C254E;
    color: #dfb90f;
}